<p class='country__name'>
<span class="country__item--middle-weight"> {{name}}</span>
</p><div class="country__information">
<div class="country__text-information">
    <p class='country__capital'>
        <span class="country__item--bold"> Capital:</span> {{capital}}
    </p>
    <p class='country__population'>
        <span class="country__item--bold"> Population: </span>{{this.population}}
    </p>
    <p class='country__languages'>
        <span class="country__item--bold"> Languages:</span>
    </p>
    <ul>
        {{#each this.languages}}
        <li class="country__language">{{name}}</li>
        {{/each}}</ul>
</div>
{{#each flags}}
{{#if @first}}
<img class="country__image" src="{{this}}" alt="flag" >
{{/if}}
{{/each}}</div>